<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OPT 页面置换算法</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=0.7, user-scalable=0;" name="viewport">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/vue.js"></script>
</head>
<body>
<div class="main">
    <div id="main" class="main">
        <h1 class="title">OPT(最佳) 页面置换算法 <span><a class="back" href="../index.html">< 返回</a></span></h1>
        <div class="body">
            <input class="input-button" type="button" value="ADD" style="width:100%;" v-on:click="click()">
        </div>
        <div id="mainCh">
            <div class="body">
                <div class="stack" v-for="(item,index) in list">
                    <div class="item"><p style="color: #0e9edf" class="number-text">{{item}}</p></div>
                </div>
            </div>
            <div class="body" v-for="(item,index) in items">
                <!--v-bind:style="{order:-item.stack_val()}"-->
                <div class="number" v-bind:style="item.text">
                    <p class="number-text">{{item.text}}</p>
                </div>
                <div class="stack">
                    <div class="item" v-bind:class="{'item-black': index!=maxValue}"></div>
                </div>
                <div class="stack-val">
                    <p class="number-text">{{item.nextTime()}}</p>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/app_OPT.js"></script>
</div>
</body>
</html>